<!DOCTYPE html>

    {% extends 'main.html' %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body >
    {% block content %}


        <div class="place-container">
            <div id="category-menu">
                <h3>Categories</h3>
                <hr>
                <a href="{% url 'list_places' %}">ALL</a>
                {% for category in categories %}
                    <div>
                        <a href="{% url 'list_places' %}?q={{ category.name }}">{{ category }}</a>
                    </div>
                {% endfor %}
            </div>
            <div>
                <a href="{% url 'create_place' %}">Create Place</a>
                <h3>{{ list_places.count }}</h3>
                {% include 'list_places_component.html' %}
            </div>
        </div>

            {% endblock content %}
</body>
</html>