
<body>

    <div>
        {% for place in list_places %}
            <div>
                <h2><a href="/place/{{ place.id }}">{{ place.name }}</a></h2>

                <p>{% if place.distance.km > 1.5 %}{{ place.distance.km | floatformat:1 }} km from you{% else %}{{ place.distance.m | floatformat:0}} m from you{% endif %}</p>
                <div>
                    {% if place.rating %}
                        <p>Rating:{{ place.rating | floatformat:0}}  </p>
                        {% else %}
                        <p>No grades yet</p>
                    {% endif %}
                </div>
                <p>{{ place.category }}</p>
                <hr>
            </div>

        {% endfor %}

    </div>
</body>
