<!DOCTYPE html>


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% extends 'main.html' %}
    {% block content %}


        <div class="place-container">


            <div id="category-menu">
                <h3>Categories</h3>
                <hr>
                <a href="{% url 'list_places' %}">ALL</a>
                {% for category in categories %}
                    <div>

                        <a href="{% url 'list_places' %}?q={{ category.name }}">{{ category }}</a>


                    </div>


                {% endfor %}
            </div>


            <div>
                <a href="{% url 'create_place' %}">Create Place</a>
                <h3>{{ places.count }}</h3>

                    <div>
                        {% for place in places %}
                            <div>
                                <h5><a href="/place/{{place.id}}">{{ place.name }}</a></h5>
                                <h4>{{ place.category }}</h4>
                                <hr>
                            </div>
                        {% endfor %}
                    </div>
            </div>
        </div>

            {% endblock content %}
</body>
</html>