{% extends 'main.html' %}
{% load crispy_forms_tags %}
<body>


    {% block content %}

            {% if page == 'login' %}
                <div class="container border text-center rounded bg-light shadow py-2 col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="">
                        <form method="POST" action="">
                            {% csrf_token %}
                            <div class="my-3">
                                <div class="mb-3 ">
                                    <label for="email" class="form-outline">Email:</label>
                                    <input type="text" class="form-control" id="email" name="email" placeholder="Enter Email" />
                                </div>
                                <div class="mb-3">
                                    <label for="password" class="form-label">Password:</label>
                                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password" />
                                </div>
                                <div class="mb-3">
                                    <input type="submit" value="Submit" class="btn btn-success" />
    {#                                <button type="button" class="btn btn-danger" >Forgot password </button>#}
                                </div>
                            </div>
                        </form>

                        <div>
                            <p>Haven't signed up yet ?</p>
                            <a href="{% url 'signup' %}"><button class="btn btn-primary">Sign Up</button></a>
                        </div>
                    </div>
                </div>



            {% else %}
                <div class="container border text-center rounded  bg-light shadow py-2 col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="form-label">
                        <form method="POST" action="">
                            {% csrf_token %}
                            {{ form | crispy }}
                            <input type="submit" class="btn btn-success" value="Register" />
                        </form>
                    </div>
                    <div class="my-3">
                        <p>Already a member?</p>
                        <a href="{% url 'login' %}"><button class="btn btn-primary">Log In</button></a>
                    </div>
                </div>
            {% endif %}
        </div>
    {% endblock content %}

</body>
</html>