<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    {% extends 'main.html' %}

    {% block content %}
    <form method="POST" action="">

        {% csrf_token %}

        <label>Username</label>
        <input type="text" name="username" placeholder="Enter Username">

        <label>Password</label>
        <input type="password" name="password" placeholder="Enter Password">

        <input  type="submit" value="Submit">

    </form>

    {% endblock content %}

</body>
</html>