{% load static leaflet_tags%}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Long Dozen</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    {{ form.media }}

    {% leaflet_js plugins="forms" %}
    {% leaflet_css plugins="forms" %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="{% static 'js/user_location.js' %}"></script>

</head>
<body>
    {% include 'navbar.html' %}

    {% if messages %}
        <ul class="'messages">
            {% for messege in messages %}
                <li>{{ messege }}</li>
            {% endfor %}

        </ul>

    {% endif %}

    {% block content %}
    <input type="hidden" value="{{ user.user_location }}" name="user_location">


    {% endblock content %}

</body>
</html>