<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Long Dozen</title>
</head>
<body>
    <div class="navbar-container">
        <div id="navbar-logo">
            <a href="{% url 'home' %}">
                <h1>Long Dozen</h1>
            </a>
            <a href="{{ request.META.HTTP_REFERER }}">Back</a>
        </div>



        <div>
            <form method="GET" action="{% url 'list_places' %}">
                <label>
                    <input type="text" name="q" placeholder="Search Places.." />
                </label>
            </form>
        </div>


        <div style="position: absolute; right: 10px">
            {% if request.user.is_authenticated %}
                <a href="{% url 'user_page' user.id%} ">{{ user.username }}</a>
                <br>
                <a href="{% url 'logout' %}">LogOut</a>
            {% else %}
                <a href="{% url 'login' %}">LogIn</a>
            {% endif %}
        </div>


    </div>
<hr>
</body>
</html>