<!DOCTYPE html>
<html lang="en">
<body>
<nav class="pagination">
    <ul class="pagination justify-content-center">

        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1">first</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link">first</a>
            </li>
        {% endif %}
        <li class="page-item active">
            <a class="page-link" href="#">{{ page_obj.number }}</a>
        </li>
        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link">last</a>
            </li>
        {% endif %}
    </ul>
</nav>

</body>
</html>