<!DOCTYPE html>
{% extends 'main.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body >
    {% load static %}
    {% block content %}
    {% load crispy_forms_tags %}
    <div>
        <form method="post" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit">
        </form>
    </div>
<script type="text/javascript">
    window.addEventListener("map:init", function (e){

        var detail = e.detail;

        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition( function (position){
                detail.map.setView([position.coords.latitude,position.coords.longitude], 15);

            });
        }
        },  false);

    var marker_onClick = null

     window.addEventListener('map:click', function (e){
         var detail = e.detail
         var popLocation= e.latlng;
         if (marker_onClick == null) {
             marker_onClick = L.marker([e.latlng.lat, e.latlng.lng], {
                 draggable: true,
             })
         }
        marker_onClick.addTo(detail.map)
     })
</script>


    {%  endblock content %}
</body>
</html>