<!DOCTYPE html>

{% extends 'main.html'%}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% block content %}
        <div class="user-page-container">

            <div>
                <img src="{{ user.avatar.url }}" alt="user-avatar" width="150" height="150">
                <div class="avatar--large">
                    <p>{{ user.username }}</p>
                </div>
            </div>
            <div id="favorite-places">
            <p>Your favorite places</p>
                {% for favorite in favorite_places %}
                    <div>
                          <h2><a href="/place/{{favorite.place.id}}">{{favorite.place.name}}</a></h2>
                    </div>
                {% endfor %}
            </div>

            <div>
                {% if request.user == user %}
                <a href="{% url 'update_user' %}">Edit</a>
                {% endif %}
            </div>
        </div>
    {% endblock content %}
</body>
</html>