<!DOCTYPE html>

{% extends 'main.html'%}

<body>
    {% block content %}
        <div class="container">


            <div class="p-3 border shadow-sm bg-white bg-opacity-50 rounded">
                <div class="row">
                    <div class="col-3 p-2 m-2">
                        <img class="img-thumbnail" src="{{ user.avatar.url }}" alt="user-avatar">
                        <h3 class="fw-bold text-center">{{ user.username }}</h3>
                        <div class="text-center">
                            {% if request.user == user %}
                            <a class="link-info" href="{% url 'update_user' %}">Edit</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-4 p-2 m-2">
                        <div id="favorite-places">
                        <p>Your favorite places</p>
                            <ul>
                                {% for favorite in favorite_places %}
                                    <a  href="/place/{{favorite.place.id}}">{{favorite.place.name}}</a>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock content %}
</body>
</html>